$input-width: 80%;

.field {
  background: #fff;
  margin: 10px 0;
  border-radius: 5px;

  & > input,
  i {
    font-size: 1.5rem;
  }

  & > input {
    // color: black;
    width: $input-width;
    height: 50px;
    padding: 0 2px 0 10px;
    background: transparent;
    border: none;

    &::placeholder {
      color: #999;
    }
  }

  & > i {
    width: 100% - $input-width;
    color: #999;
  } 
}

@media screen and (min-width: 769px) {
  $input-width: 75%;
  .field {
    & > input {
      width: $input-width;
    }
    & > i {
      width: 100% - $input-width;
    }
  }
}