@import '../helpers/colors';

.loginForm {
  width: 90%;
  max-width: 250px;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & > button {
    height: 50px;
    font-size: 1.5rem;
    color: #fff;
    background: $action-color;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;

    &:disabled {
      background: darken($action-color, 10%);
      cursor: auto;
    }
  }
}