@import '../helpers/article';

$color: lightgrey;

.article {

  & > i {
    color: $color;
  }

}

.title,
.info {
  background: $color;
}

.title {
  width: 90%;
  height: 25px;
  margin-bottom: 5px;
}

.info {
  width: 35%;
  height: 15px;
}