@import '../helpers/article', '../helpers/sizes';

$color: #ddd;

.article {
  height: 90px;
  background: linear-gradient(to right, $color 5%, darken($color, 10%) 20%, $color 35%);
  background-size: 100% 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  // animation-name: placeHolderShimmer;
  animation-timing-function: linear;

  & > i {
    font-size: 1.5rem;
    color: $color;
    z-index: 10;
  }
  
  & div:last-child {
    position: relative;
    background: #fff;
    height: 100px;
    width: $container-width;
    // top: $header-height + $nav-height;
    // z-index: 10;
  }
}

// .animation {
//   height: 100%;
//   width: 100%;
//   position: absolute;
  
// }

// .title,
// .info {
//   background: #fff;
// }

// .title {
//   height: 1.5rem;
//   width: 90%;
//   margin-bottom: 5px;
// }

// .info {
//   height: 1rem;
//   width: 35%;
// }

@keyframes placeHolderShimmer {
  0% {
    background-position: 0 0
  }

  100% {
    background-position: $container-width 0
  }
}