@import '../helpers/sizing';

.topics {
  @extend %sidebar-position;
  font-size: 1em;
  left: $side-margin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    margin: 1.2em 0;
  }

  a {
    background: lightgrey;
    font-size: 1em;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.4em 1em;

    &:hover {
      cursor: pointer;
    }

    span {
      margin-right: 0.2em;
    }
  }
}

// @media screen and (max-width: 1024px) and (orientation: portrait) {
@media screen and (max-width: 700px) {
  .topics {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
}

// @media screen and (min-width: 2000px) {
//   .topics {
//     align-items: flex-end;
//     padding-right: 4em;

//     ul {
//       margin: 1.5em 0;
//     }
//   }
// }