@import '../helpers/breakpoints', '../helpers/sizes', '../helpers/fonts', '../helpers/colors', '../helpers/selectDropdown';

$font-size: 0.9rem;
$font-size-breakpoints: (
  $xl: 1rem,
  $xxl: 1.1rem,
);

/* Remove native date picker on desktops */
// ::-webkit-calendar-picker-indicator {
//   display: none;
// }

.container,
.options {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.options {
  align-items: flex-start;
  // justify-content: space-evenly;
  justify-content: center;
  font-family: $options-font;
  font-size: $font-size;
  color: $dark-font-color;
  margin: 7px 0;

  & > label {
    margin: 0.1rem 0 0;

    & > p {
      display: inline-block;
      width: $font-size * 4;
    }
  
    & > input[type=date] {
      height: 1.1rem;
      font-family: $nav-font;
      font-size: $font-size - 0.1rem;
      padding-left: 3px;
      border: 1px solid $primary-color;
      border-radius: 5px;
    }
  
    & > select {
      @extend %selectDropdown;
    }
  }

  & > button {
    align-self: center;
    font-family: $options-font;
    font-size: $font-size;
    color: $dark-font-color;
    background: transparent;
    border: none;
    padding: 2px 8px;
    margin-top: 7px;
    // margin-left: 0.4rem;
    cursor: pointer;
  }
}

// .date {
//   display: none;
// }

.optionsBtn {
  height: $min-height * $options-size * 0.8;
  font-family: $nav-font;
  font-size: $font-size;
  font-style: italic;
  color: $dark-font-color;
  background: transparent;
  padding: 0 10px;
  margin: ($min-height * $options-size * 0.2 / 2) 0;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 525px) and (max-width: 768px) {
  .options {
    flex-direction: row;

    & > label {
      margin: 0 0.1rem 0;

      & > p {
        width: auto;
        margin-right: 0.2rem;
      }
    }

    & > button {
      align-self: flex-start;
      margin-top: 0;
    }
  }
}

// @media screen and (min-width: 769px) {
//   .options input[type=date] {
//     display: none;
//   }

//   .date {
//     display: block;
//   }
// }

@each $breakpoint, $size in $font-size-breakpoints {
  @media screen and (min-width: nth($breakpoint, 1)) and (max-width: nth($breakpoint, 2)) {
    .options {
      font-size: $size;

      & > label {
        & > p {
          width: $size * 4;
        }

        & > input[type=date] {
          font-size: $size - 0.1rem;
        }
      }

      & > button {
        font-size: $size;
      }
    }

    .optionsBtn {
      font-size: $size;
    }
  }
}

// @media screen and (max-width: 1208px) {
//   .options {
//     justify-content: space-around;
//     & input[type=date] {
//       margin: 2px 0;
//     }
//     & > div {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: flex-start;
//     }
//     & p {
//       margin: 0 0.2rem 0 0;
//     }
//     & button {
//       margin: 2px 0;
//       align-self: center;
//     }
//   }
// }

@each $width, $height in $header-height-breakpoints {
  @media screen and (min-width: $width) {
    $min-height: $height - $header-padding - $header-border-size;
    .optionsBtn {
      height: $min-height * $options-size * 0.8;
      margin: ($min-height * $options-size * 0.2 / 2) 0;
    }
  }
}