@import '../helpers/sizes', '../helpers/fonts', '../helpers/colors', '../helpers/selectDropdown';

.container,
.options {
  display: flex;
  align-items: center;
}

.container {
  height: $header-height * 0.25;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.options {
  width: 100%;
  justify-content: center;
  font-family: $options-font;
  color: $dark-font-color;
  margin-top: 5px;

  & p {
    display: inline-block;
    margin: 0 0.2rem 0 0.4rem;
  }

  & input[type=date] {
    font-family: $nav-font;
    padding-left: 3px;
    border: 1px solid $primary-color;
    border-radius: 5px;
  }

  & select {
    @extend %selectDropdown;
  }

  & button {
    font-family: $options-font;
    color: $dark-font-color;
    background: transparent;
    border: none;
    padding: 2px 8px;
    margin-left: 0.4rem;
    cursor: pointer;
  }
}

.optionsBtn {
  font-family: $nav-font;
  font-style: italic;
  color: $dark-font-color;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1600px) {
  .options {
    font-size: 1rem;
    & input[type=date] {
      font-size: 0.9rem;
    }
    & button {
      font-size: 1rem;
    }
  }
  .optionsBtn {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1599px) {
  .options {
    font-size: 0.9rem;
    & input[type=date] {
      font-size: 0.8rem;
    }
    & button {
      font-size: 0.9rem;
    }
  }
  .optionsBtn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1208px) {
  .options {
    justify-content: space-around;
    & input[type=date] {
      margin: 2px 0;
    }
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    & p {
      margin: 0 0.2rem 0 0;
    }
    & button {
      margin: 2px 0;
      align-self: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .options {
    font-size: 0.8rem;
    & input[type=date] {
      font-size: 0.7rem;
    }
    & button {
      font-size: 0.8rem;
    }
  }
  .optionsBtn {
    font-size: 0.7rem;
  }
}

@each $width, $height in $header-height-breakpoints {
  @media screen and (min-width: $width) {
    $min-height: $height - $header-padding - $header-border-size;
    .optionsBtn {
      height: $min-height * 0.25;
    }
  }
}