@import '../helpers/sizes', '../helpers/colors', '../helpers/fonts';

$input-height: 35px;
$input-height-breakpoints: (
  769px: 40px,
  1025px: 45px,
  // 1600px: 50px,
);

$font-size: 1rem;
$font-size-breakpoints: (
  769px: 1.2rem,
  1025px: 1.4rem,
  // 1600px: 1.5rem,
);

.search {
  height: $header-height * 0.5;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  
  & > input,
  & > button {
    height: $input-height;
  }

  & > input {
    width: 100%;
    font-size: $font-size;
    padding-left: 8px;
    color: $dark-font-color;
    border: 1px solid lightgrey;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &::placeholder {
      font-family: $placeholder-font;
    }
  }

  & > button {
    width: $input-height;
    background: $primary-color;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

    & > i {
      font-size: $font-size;
      color: #fff;
    }
  }
}

@media screen and (min-width: 769px) {
  .search {
    max-width: 400px;
    & > input {
      padding-left: 10px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .search > input {
    padding-left: 12px;
  }
}

// @media screen and (min-width: 1600px) {
//   .search > input {
//     padding-left: 15px;
//   }
// }

@each $width, $height in $header-height-breakpoints {
  @media screen and (min-width: $width) {
    $min-height: $height - $header-padding - $header-border-size;
    .search {
      height: $min-height * 0.5;
    }
  }
}

@each $width, $height in $input-height-breakpoints {
  @media screen and (min-width: $width) {
    .search {
      & > input,
      & > button {
        height: $height;
      }
      & > button {
        width: $height;
      }
    }
  }
}

@each $width, $size in $font-size-breakpoints {
  @media screen and (min-width: $width) {
    .search {
      & > input,
      & > button > i {
        font-size: $size;
      }
    }
  }
}