@import '../helpers/sizes', '../helpers/colors', '../helpers/fonts';

.nav {
  display: flex;

  input {
    align-self: center;
    font-size: 0.9rem;
    width: 170px;
    padding: 4px 6px;
    margin-right: 8px;
    border: none;
    border-radius: 2px;

    &::placeholder {
      font-family: $placeholder-font;
    }
  }

  button {
    height: $nav-height;
    width: $nav-height;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    i {
      color: #fff;
      font-size: 1.5rem;
    }

    &:focus {
      background: $background-color;

      & i {
        color: $primary-color;
      }
    }
  }
}

.search {
  height: $search-height;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;

  input,
  button {
    height: 45px;
  }

  input {
    width: 60%;
    font-size: 1.5rem;
    padding-left: 8px;
    border: 1px solid lightgrey;
    border-radius: 5px;

    &::placeholder {
      font-family: $placeholder-font;
    }
  }

  button {
    width: 50px;
    margin: 0 10px;
    cursor: pointer;

    i {
      font-size: 1.5rem;
    }
  }
}