@import '../helpers/colors', '../helpers/fonts';

.header {
  width: 100%;
  background: $background-color;
  color: $dark-font-color;
  border-bottom: 3px $primary-color solid;
  padding-bottom: 5px;
}