@import '../helpers/sizes', '../helpers/colors', '../helpers/fonts';

$button-width: 15%;

$input-height: 40px;
$input-height-breakpoints: (
  769px: 40px,
  1025px: 45px,
);

$font-size: 1.1rem;
$font-size-breakpoints: (
  769px: 1.2rem,
  1025px: 1.4rem,
);

.search {
  position: relative;
  // height: $min-height * $search-size;
  width: 100%;
  max-width: 300px;
  margin: 15px auto 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  // &:after {
  //   $blur-width: 8px;
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   bottom: 1px;
  //   right: $button-width + 1%; // +1%: to avoid hiding input outline
  //   // right: $button-width;
  //   height: $input-height - 2px; // -2px: input borders
  //   width: $blur-width;
  //   background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
  //   pointer-events: none;
  // }
  
  & > input,
  & > button {
    height: $input-height;
  }

  & > input {
    flex: 0 0 (100% - $button-width);
    font-size: $font-size;
    padding: 0 2px 0 6px;
    color: $dark-font-color;
    border: 1px solid lightgrey;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &::placeholder {
      font-family: $placeholder-font;
    }
  }

  & > button {
    flex: 0 0 $button-width;
    background: $primary-color;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

    & > i {
      font-size: $font-size;
      color: #fff;
    }
  }
}

@media screen and (min-width: 769px) {
  // $blur-width: 10px;
  .search {
    max-width: 400px;
    margin: 0 auto;
    & > input {
      padding-left: 7px;
    }
    // &:after {
    //   width: $blur-width;
    // }
  }
}

@media screen and (min-width: 1025px) {
  // $blur-width: 12px;
  .search {
    max-width: 450px;
    & > input {
      padding-left: 8px;
    }
    // &:after {
    //   width: $blur-width;
    // }
  }
}

@each $width, $height in $header-height-breakpoints {
  @media screen and (min-width: $width) {
    $min-height: $height - $header-padding - $header-border-size;
    .search {
      height: $min-height * $search-size;
    }
  }
}

@each $width, $height in $input-height-breakpoints {
  @media screen and (min-width: $width) {
    .search {
      & > input,
      & > button {
        height: $height;
      }
      // &:after {
      //   height: $height - 2px;
      // }
    }
  }
}

@each $width, $size in $font-size-breakpoints {
  @media screen and (min-width: $width) {
    .search {
      & > input,
      & > button > i {
        font-size: $size;
      }
    }
  }
}