@import '../helpers/breakpoints',
        '../helpers/sizes',
        '../helpers/fonts',
        '../helpers/colors',
        '../helpers/selectDropdown';

$font-size: 1rem;
$font-size-breakpoints: (
  $xl: 1rem,
  $xxl: 1.1rem,
);

.sort {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: $options-font;
  color: $dark-font-color;

  & > p {
    font-size: $font-size;
    margin-top: 0.3rem;
  }

  & > label {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &:after {
      @extend %select-arrow;
    }
  
    & > p {
      white-space: nowrap;
      font-size: $font-size;
      margin-right: 0.2rem;
    }
  }
}

.select {
  @extend %selectDropdown;
  max-width: 125px;
}

@media screen and (min-width: 550px) {
  .sort {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    & > label {
      margin-left: 10px;
    }
  }
}

/* Set height to match Buttons position from top
   Set min-height to let height adjust dynamically if query takes multiple lines */
@each $width, $height in $header-height-breakpoints {
  @media screen and (min-width: $width) {
    $min-height: $height - $header-padding - $header-border-size;
    .sort {
      min-height: $min-height * $sort-size;
    }
  }
}

@each $breakpoint, $size in $font-size-breakpoints {
  @media screen and (min-width: nth($breakpoint, 1)) and (max-width: nth($breakpoint, 2)) {
    .sort {
      & > p,
      & > label > p {
        font-size: $size;
      }
    }
  }
}