@import '../helpers/sizes', '../helpers/fonts', '../helpers/colors', '../helpers/selectDropdown';

.sort {
  height: $sort-height;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: $options-font;
  color: $dark-font-color;

  & label {
    display: flex;
    justify-content: center;
    align-items: center;
  
    & > p {
      font-size: 0.9rem;
      margin-right: 0.2rem;
    }
  }
}

.select {
  @extend %selectDropdown;
}

@media screen and (min-width: 1600px) {
  .sort > p,
  .sort label > p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1599px) {
  .sort > p,
  .sort label > p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .sort > p,
  .sort label > p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .sort > p,
  .sort label > p {
    font-size: 0.6rem;
  }
}