$nav-height: 2.5em;
$header-height: 10em;
$sidebar-width: 20vw;
$container-width: 100vw - 2 * $sidebar-width;

%sidebar-display {
  position: fixed;
  width: $sidebar-width;
  top: $nav-height+$header-height;
}