$nav-height: 2.5em;
$header-height: 10em;
$side-margin: 2.5vw;
$sidebar-width: 20vw;
$container-width: 100vw - 2 * $sidebar-width;

%sidebar-position {
  position: fixed;
  width: $sidebar-width - $side-margin;
  top: $nav-height + $header-height;
}