.container {
  grid-area: articles;
  justify-self: center;
  
  display: grid;
  // grid-template-columns: repeat(3, 225px);
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 5px 7px;
  justify-items: center;
  align-items: start;
}

// @media screen and (max-width: 1023px) {
//   .container {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }