@import 'colors';

.article {
  // height: 250px; /* Find way to blur extra content, keeping bottom date*/
  font-size: 14px;
  border: none;
  box-shadow: 0 2px 15px 0 lightgrey;
  padding: 10px 15px;
  overflow: hidden;

  img {
    max-width: 100%;
  }

  header {
    font-size: 0.8em;
    margin-bottom: 0.8em;
    display: flex;
    justify-content: space-between;

    p {
      text-decoration: underline;
    }

    i {
      margin: 0 3px;

      &:first-child {
        color: $star-color;
      }

      &:last-child {
        color: $bookmark-color;
      }
    }
  }

  & > p:last-child {
    text-align: right;
    font-size: 0.7em;
    margin-top: 1em;
  }

  a {
    color: black;
    text-decoration: none;

    h3 {
      font-size: 0.9em;
    }

    p {
      font-size: 0.8em;
      line-height: 1.1em;
      margin-top: 0.2em;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}