@import 'sizing';
@import 'ArticlesList', 'Footer';

.scrollpage {
  width: $container-width;
  margin: 0 auto;
  margin-top: $nav-height+$header-height;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 25px;
  grid-template-areas:
    "articles"
    "footer";
}

@media screen and (min-width: 501px) and (max-width: 700px) {
  .scrollpage {
    width: $container-width + 4 * $side-margin;
    margin-right: $side-margin;
  }
}