@import 'sizing', 'colors';

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: $nav-height;
  background: $primary-color;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  h1 {
    font-size: 2em;
    color: #fff;
    margin-left: 1.5em;
  }

  .links {
    width: 30vw;
    min-width: 400px;
    display: flex;
    justify-content: space-evenly;
    
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 1.5em;
      color: #fff;
      padding: 0 0.5em;
    }

    form {
      display: flex;
      align-items: center;
      
      input {
        font-size: 1em;
      }

      button {
        background: transparent;
        border: none;
  
        i {
          color: #fff;
          font-size: 2em;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}