.article {
  width: 100%;
  padding: 10px 14px;
  margin-bottom: 7px;
  border: none;
  box-shadow: 0 2px 15px 0 lightgrey;
  
  display: grid;
  grid-template-columns: auto 10%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "title bookmark"
    "info .";
  grid-gap: 0.1rem;

  & i {
    grid-area: bookmark;
  } 
}

.title {
  grid-area: title;
}

.info {
  grid-area: info;
}

@media screen and (min-width: 769px) {
  .article {
    padding: 12px 16px;
    margin-bottom: 9px;
    grid-gap: 0.2rem;
  }
}

@media screen and (min-width: 1025px) {
  .article {
    padding: 15px 20px;
    grid-gap: 0.3rem;
  }
}