.article {
  width: 100%;
  padding: 15px 20px;
  border: none;
  box-shadow: 0 2px 15px 0 lightgrey;
  
  display: grid;
  grid-template-columns: auto 5%;
  grid-template-rows: repeat(2, auto);
  grid-gap: 0.3rem;
  grid-template-areas:
    "title bookmark"
    "info .";

  & i {
    grid-area: bookmark;
  } 
}

.title {
  grid-area: title;
}

.info {
  grid-area: info;
}

.source,
.date {
  display: inline;
}