// $sm: 0px, 375px;
// $md: 376px, 425px;
// $lg: 426px, 768px;
// $xl: 769px, 1024px;
// $xxl: 1025px, 4000px;

// $sm: 0px, 768px;
// $md: 769px, 1024px;
// $lg: 1025px, 4000px;

// $mobile: nth($sm, 2);
// $desktop: nth($lg, 1);

/* 
  Usage example
*/

// $font-size-breakpoints: (
//   $xl: 1rem,
//   $xxl: 1.2rem,
// );

// @each $breakpoint, $size in $font-size-breakpoints {
//   @media screen and (min-width: nth($breakpoint, 1)) and (max-width: nth($breakpoint, 2)) {
//     .sort {
//       & > p,
//       & > label > p {
//         font-size: $size;
//       }
//     }
//   }
// }
