// $background-color: #f4f4f4;
$background-color: #fff;
$primary-color: #c1160d;
$bookmark-color: lightcoral;
// $action-color: #fc0;
$action-color: lighten($primary-color, 10%);
$dark-font-color: #262626;