$nav-font: 'Ubuntu', sans-serif;

$header-font: 'Patua One', cursive;
$date-font: 'Playfair Display', serif;

$options-font: 'Arvo', sans-serif;
$placeholder-font: 'Lato', sans-serif;

$article-title-font: 'Oswald', sans-serif;
$article-source-font: 'Poppins', sans-serif;