@import 'colors', 'sizes', 'fonts';

.header {
  // height: 100%;
  // height: $header-height;
  // height: 150px;
  // width: $container-width;
  width: 100%;
  background: $background-color;
  color: $dark-font-color;
  border-bottom: 3px $primary-color solid;
  padding-bottom: 5px;
}

$breakpoints: (
  1440px: 150px,
  1024px: 125px,
  768px: 100px
);

@each $width, $height in $breakpoints {
  @media screen and (max-width: $width) {
    .header {
      height: $height;
    }
  }
}

@media screen and (min-width: 1441px) {
  .header {
    height: 150px;
  }
}