@import 'sizes', 'colors';

.showcase {
  max-width: $container-width;
  margin: 0 auto;
  margin-top: $nav-height;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: $header-height repeat(2, auto);
  grid-template-areas:
    "header"
    "articles"
    "footer";
}

.header {
  grid-area: header;
}

.container {
  grid-area: articles;
}

.footer {
  grid-area: footer;
}