@import './fonts', './colors';

%selectDropdown {
  height: 1.2rem;
  background: transparent;
  color: $dark-font-color;
  font-family: $nav-font;
  font-size: 0.7rem;
  border: 1px solid $primary-color;
  border-radius: 5px;
  overflow: hidden;
  // outline: none;
  cursor: pointer;
}

@media screen and (min-width: 1600px) {
  %selectDropdown {
    height: 1.3rem;
    font-size: 0.8rem;
  }
}