@import './fonts', './colors';

%selectDropdown {
  background: transparent;
  color: $dark-font-color;
  font-family: $nav-font;
  border: 1px solid $primary-color;
  border-radius: 5px;
  overflow: hidden;
  // outline: none;
  cursor: pointer;
}

@media screen and (min-width: 1600px) {
  %selectDropdown {
    height: 1.3rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1599px) {
  %selectDropdown {
    height: 1.2rem;
    font-size: 0.7rem;
  }
}

// @media screen and (max-width: 1024px) {
//   %selectDropdown {
//     height: 1.1rem;
//     font-size: 0.6rem;
//   }
// }

// @media screen and (max-width: 768px) {
//   %selectDropdown {
//     height: 1rem;
//     font-size: 0.5rem;
//   }
// }