/* NAV */
$nav-height: 40px;

/* HEADER */
$header-height: 100px;
$header-height-breakpoints: (
  769px: 120px,
  1025px: 140px,
);
$header-padding: 5px;
$header-border-size: 3px;
$min-height: $header-height - $header-padding - $header-border-size;

/* SEARCH FORM */
$search-size: 0.5;
$options-size: 0.25;
$sort-size: 0.25;

$search-input-height: 22px;

/* LOGIN */
$login-form-width: 90%;
$login-form-max-width: 250px;