/* LAYOUT */
$nav-height: 40px;
$header-height: 150px;
$side-margin: 5vw;
$sidebar-width: 25vw - $side-margin;
$container-width: 100vw - 2 * ($sidebar-width + $side-margin);

$search-height: 50%;
$sort-height: 20%;
$options-height: 100% - $search-height - $sort-height;

%sidebar-position {
  position: fixed;
  width: $sidebar-width;
  top: $nav-height + $header-height;
}

/* LOGIN */
$field-height: 50px;