@import '../helpers/colors', '../helpers/sizes', '../helpers/fonts';

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bookmarks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $topic-font;
  font-size: 1rem;
  background: transparent;
  color: $dark-font-color;
  padding: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
      
  & > i {
    font-size: 1.3rem;
    color: $bookmark-color;
    margin: 3px 10px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .buttons {
    &[sidebar=false] {
      display: none;
    }

    &[sidebar=true] {
      position: relative;
      width: 100%;
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 769px) {
  .buttons {
    position: fixed;
    width: 25vw;
    right: 0;
  }

  .bookmarks {
    font-size: 0.8rem;
    & > i {
      font-size: 1.2rem;
      margin: 1px 10px 0 0;
    }
  }
}

@media screen and (min-width: 1025px) {
  .bookmarks {
    font-size: 1rem;
    & > i {
      font-size: 1.3rem;
      margin: 3px 10px 0 0;
    }
  }
}

@each $width, $header-height in $header-height-breakpoints {
  @media screen and (min-width: $width) {
    .buttons {
      top: $header-height + $nav-height;
    }
  }
}