@import '../helpers/sizes', '../helpers/colors';

.sidebar {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar__content,
  .sidebar__clickCatcher {
    display: block;
    // transition: transform 150ms ease-in-out;
  }

  .sidebar__content {
    width: 45%;
    min-width: 320px;
    background: $background-color;
  }
  
  .sidebar__clickCatcher {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .sidebar {
    display: flex;
    position: fixed; // Avoid showcase to collapse
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 2;

    &[state=entering] {
      opacity: 0;

      .sidebar__content {
        transform: translateX(-100%);
      }
      .sidebar__clickCatcher {
        transform: translateX(100%);
      }
    }

    &[state=entered] {
      .sidebar__content,
      .sidebar__clickCatcher {
        opacity: 1;
        transform: translateX(0);
        transition: transform 150ms ease-out;
      }
    }

    &[state=exiting] {
      .sidebar__content,
      .sidebar__clickCatcher {
        transition: transform 150ms ease-in;
      }
      .sidebar__content {
        transform: translateX(-100%);
      }
      .sidebar__clickCatcher {
        transform: translateX(100%);
      }
    }

    &[state=exited] {
      display: none;
    }
  }
}

// @media screen and (max-width: 768px) {
//   .sidebar {
//     &[state=entering] {
//       display: flex;
//     }
//     &[state=exited] {
//       display: none;
//     }
//     & .sidebar__content,
//     & .sidebar__clickCatcher {
//       display: block;
//       // flex: 1 1 auto;
//       &[state=entering],
//       &[state=exited] {
//         opacity: 0;
//       }
//       &[state=entered],
//       &[state=exiting] {
//         opacity: 1;
//         transform: translateX(0);
//       }
//     }
//     & .sidebar__content {
//       width: 45%;
//       min-width: 320px;
//       background: $background-color;
//       &[state=entering],
//       &[state=exited] {
//         transform: translateX(-100vw);
//       }
//     }
//     & .sidebar__clickCatcher {
//       height: 100%;
//       width: 100%;
//       background: rgba(0, 0, 0, 0.5);
//       &[state=entering],
//       &[state=exited] {
//         transform: translateX(100vw);
//       }
//     }
//   }
// }