@import '../helpers/sizes', '../helpers/colors';

.sidebar__content,
.sidebar__clickCatcher {
  display: flex;
  // transition: transform 150ms ease-in-out;
}

.sidebar__content {
  position: relative;
  top: -$nav-height;
  min-width: 320px;
  background: $background-color;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar__clickCatcher {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.sidebar {
  display: flex;
  position: fixed; // Avoid showcase to collapse
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  &[state=entering] {
    opacity: 0;

    .sidebar__content {
      transform: translateX(-100%);
    }

    .sidebar__clickCatcher {
      transform: translateX(100%);
    }
  }

  &[state=entered] {

    .sidebar__content,
    .sidebar__clickCatcher {
      opacity: 1;
      transform: translateX(0);
      transition: transform 150ms ease-out;
    }
  }

  &[state=exiting] {

    .sidebar__content,
    .sidebar__clickCatcher {
      transition: transform 150ms ease-in;
    }

    .sidebar__content {
      transform: translateX(-100%);
    }

    .sidebar__clickCatcher {
      transform: translateX(100%);
    }
  }

  &[state=exited] {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  $sidebar-width: 45%;
  .sidebar__content {
    width: $sidebar-width;
  }
  .sidebar__clickCatcher {
    width: 100% - $sidebar-width;
  }
}

@media screen and (orientation: landscape) {
  .sidebar__content {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .sidebar {
    display: none;
  }
}