@import '../helpers/sizes';

.sidebar {
  position: fixed; // Avoid showcase to collapse
  // width: $sidebar-width + 2 * $side-margin;
  // top: $nav-height + $header-height;
  // left: $side-margin;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  top: $nav-height;
  left: 0;
}

@media screen and (max-width: 500px) {
  %sidebar-pos {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: $nav-height;
    left: 0;
    display: flex;
    z-index: 3;
  }
  @mixin sidebar-animation($from) {
    transform: translate3d($from, 0, 0);
    // transition: transform 0.3s ease-in-out;
  }

  .sidebar {
    @extend %sidebar-pos;
  }

  .sidebarOpen {
    @extend %sidebar-pos;
    .sidebar__list,
    .sidebar__clickCatcher {
      transform: translate3d(0, 0, 0);
    }
  }

  .sidebar__list,
  .sidebar__clickCatcher {
    flex: 1 1 auto;
  }

  .sidebar__list {
    @include sidebar-animation(-100vw);
    background: #fff;
  }

  .sidebar__clickCatcher {
    @include sidebar-animation(100vw);
    background: rgba(0, 0, 0, 0.5);
  }
}