@import '../helpers/sizes', '../helpers/colors', '../helpers/fonts';

$border-color: #ddd;

.topics {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & > h2 {
    color: $dark-font-color;
    font-family: $topics-header-font;
    font-size: 2.5rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    border-bottom: 2px solid $dark-font-color;
    padding-left: 7px;
  }

  & > ul {
    margin-top: 10px;
    padding: 0;
    list-style: none;
    
    & > li {
      margin: 0.1rem 0;
    }
  }
}

.topic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.35rem 1rem;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: transform 120ms ease-out;

  & > h4 {
    font-family: $topic-font;
    font-size: 1rem;
    color: $dark-font-color;
    margin-left: 0.2rem;
  }

  & > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 1.6rem;
  }

  &[active=true],
  &:hover {
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    transform: scale(0.92);
  }
}

@media screen and (orientation: landscape) {
  .topics[sidebar=true] > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .topics[sidebar=false] {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .topics {
    position: fixed;
    width: 25vw;

    & > ul {
      margin-top: 5px;

      & > li {
        margin: 0.3rem 0;
      }
    }

    & > h2 {
      font-size: 1.8rem;
      letter-spacing: 0.5rem;
      padding-left: 7px;
    }
  }

  .topic {
    padding: 0.25rem 1rem;

    & > h4 {
      font-size: 0.7rem;
    }

    & > i {
      width: 32px;
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 1025px) {
  .topics {
    & > h2 {
      font-size: 2.2rem;
      letter-spacing: 0.6rem;
      padding-left: 8px;
    }
  }

  .topic {
    padding: 0.4rem 1rem;
    & > h4 {
      font-size: 0.9rem;
    }

    & > i {
      width: 40px;
      font-size: 1.4rem;
    }
  }
}

@media screen and (min-width: 1300px) {
  .topics {
    & > ul {
      margin-top: 10px;
    }
    & > h2 {
      font-size: 2.6rem;
      letter-spacing: 0.8rem;
      padding-left: 10px;
    }
  }

  .topic {
    & > h4 {
      font-size: 1rem;
    }

    & > i {
      width: 45px;
      font-size: 1.6rem;
    }
  }
}

@each $width, $header-height in $header-height-breakpoints {
  @media screen and (min-width: $width) {
    .topics {
      top: $header-height + $nav-height;
    }
  }
}