@import '../helpers/sizes', '../helpers/colors', '../helpers/fonts';

$border-color: #ddd;

.topics {
  // @extend %sidebar-position;
  position: fixed;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: flex-start;
  align-items: center;

  h2 {
    color: $dark-font-color;
    font-family: 'Federo', sans-serif;
    font-size: 2.6rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    border-bottom: 2px solid $dark-font-color;
    padding-left: 10px;
  }

  ul {
    padding: 0;
    list-style: none;
    
    & > li {
      margin: 1rem 0;
    }
  }
}

.topic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.4rem 1rem;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: transform 120ms ease-out;

  & > h4 {
    font-family: $nav-font;
    font-size: 1rem;
    color: $dark-font-color;
  }

  & > i {
    width: 45px;
    font-size: 1.6rem;
  }

  &[active=true],
  &:hover {
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    transform: scale(0.92);
  }
}

$breakpoints: (
  1440px: 150px + 40px,
  1024px: 125px + 40px,
  768px: 100px + 40px
);

@each $width, $height in $breakpoints {
  @if $width == 1024px {
    @media screen and (max-width: $width) {
      .topics {
        & ul > li {
          margin: 0.3rem 0;
        }
        & > h2 {
          font-size: 1.8rem;
          letter-spacing: 0.5rem;
          padding-left: 7px;
        }
      }
      .topic {
        padding: 0.35rem 1rem;
        & > h4 {
          font-size: 0.7rem;
        }
        & > i {
          width: 32px;
          font-size: 1.2rem;
        }
      }
    }
  }
  @media screen and (max-width: $width) {
    .topics {
      top: $height;
    }
  }
}

@media screen and (min-width: 1441px) {
  .topics {
    top: 150px + 40px;
  }
}

// @media screen and (max-width: 1024px) and (orientation: portrait) {
// @media screen and (max-width: 700px) {
//   .topics {
//     width: 100%;
//     position: relative;
//     top: 0;
//     left: 0;
//   }
// }