@import '../helpers/sizes', '../helpers/colors';

$width: 3.5rem;
$flag-size: 2rem;

.dropbtn {
  width: $width;
  height: $nav-height;
  background: transparent;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;

  // & > i {
  //   font-size: 1rem;
  //   // color: $background-color;
  //   color: #fff;
  // }

  &:focus {
    background: $background-color;
    // & > i {
    //   color: $primary-color;
    // }
  }
}

.dropdownContent {
  position: absolute;
  top: $nav-height;
  width: $width;
  background: $background-color;
  margin: 0;
  padding: 0;
  list-style-type: none;

  & > .country {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    cursor: pointer;

    &:hover {
      background: $primary-color;
    }
  }
}

.flag {
  width: $flag-size;
  height: $flag-size;
}