@import '../helpers/colors';

$width: 50px;
$nav-height: 40px;
$flag-size: 32px;

.dropbtn,
.dropdownContent {
  width: $width;
  margin: 0;
  padding: 0;
  border: 1px solid $primary-color;
}

.dropbtn {
  height: $nav-height;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: none;
  outline: none;
  cursor: pointer;

  &:focus {
    background: $background-color;
  }
}

.dropdownContent {
  position: absolute;
  top: $nav-height;
  background: $background-color;
  border-top: none;
  list-style-type: none;

  & > .country {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background: $primary-color;
    }
  }
}

.flag {
  width: $flag-size;
  height: $flag-size;
}