@import '../helpers/sizes', '../helpers/colors', '../helpers/fonts';

%links {
  font-family: $nav-font;
  font-size: 1.5rem;
  color: #fff;
  padding: 0 0.5rem;
}

#nav {
  position: fixed;
  top: 0;
  width: 100vw;
  // height: $nav-height;
  height: 40px;
  background: $primary-color;
  display: flex;
  align-items: center;
  z-index: 3;

  & > ul {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    
    li {

      & > a {
        @extend %links;
        text-decoration: none;
      }

      & > button {
        @extend %links;
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.navActions {
  display: flex;
  align-items: center;

  & li {
    margin: 0 0.8rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  display: none;
}

#logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  // padding: 0;
}

@media screen and (max-width: 768px) {
  %links {
    font-size: 1.2rem;
  }
  #nav {
    height: 35px;
  }
  .navActions li {
    margin: 0 0.4rem;
  }
  #logo {
    display: none;
  }
  #menu {
    display: block;
    padding: 9px;
    cursor: pointer;
    & > div {
      width: 25px;
      height: 2px;
      background-color: #fff;
      border-radius: 2px;
      &:nth-child(2) {
        margin: 5px 0;
      }
    }
  }
}