@import '../helpers/sizes', '../helpers/colors', '../helpers/fonts';

%links {
  font-family: $nav-font;
  font-size: 1.5rem;
  color: #fff;
  padding: 0 0.5rem;
}

#nav {
  position: fixed;
  top: 0;
  width: 100vw;
  // height: $nav-height;
  height: 40px;
  background: $primary-color;
  display: flex;
  align-items: center;
  z-index: 2;

  & > ul {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    
    li {

      & > a {
        @extend %links;
        text-decoration: none;
        
        // & > i {
        //   display: none;
        // }
      }

      & > button {
        @extend %links;
        background: transparent;
        border: none;
        cursor: pointer;

        // & > i {
        //   display: none;
        // }
      }
    }
  }
}

.navActions {
  display: flex;
  align-items: center;

  & li {
    margin: 0 0.8rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin: 0;
    }
  }
}

#menu {
  display: none;
  padding: 0 0.5rem;
  cursor: pointer;

  & > div {
    width: 20px;
    height: 3px;
    background-color: #fff;
  }
}

#logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  // padding: 0;
}

@media screen and (max-width: 768px) {
  %links {
    font-size: 1.2rem;
  }
  #nav {
    height: 35px;
  }
  .navActions li {
    margin: 0 0.4rem;
  }
}