@import '../helpers/sizing', '../helpers/colors';

%links {
  font-size: 1.5rem;
  color: #fff;
  padding: 0 0.5rem;
}

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: $nav-height;
  padding: 0 2vw;
  background: $primary-color;
  font-size: 1rem;
  display: flex;
  align-items: center;
  z-index: 2;

  & > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    
    li {
      margin: 0 0.3rem;

      & > a {
        @extend %links;
        text-decoration: none;
        
        & > i {
          display: none;
        }
      }

      & > button {
        @extend %links;
        background: transparent;
        border: none;
        margin: 0 0.3rem;
        cursor: pointer;

        & > i {
          display: none;
        }
      }
    }
  }
}

.rightSide {
  display: flex;
  align-items: center;
}

#menu {
  display: none;
  padding: 0 0.5rem;
  cursor: pointer;

  & > div {
    width: 20px;
    height: 3px;
    background-color: #fff;
  }
}

#logo {
  font-size: 1.5rem;
  text-transform: uppercase;
}
