@import '../helpers/colors', '../helpers/fonts';

.search {
  display: flex;

  input {
    display: none;
  }

  button {
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    i {
      color: #fff;
      font-size: 1.2rem;
    }

    &:focus {
      background: $background-color;

      & i {
        color: $primary-color;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .search {
    input {
      display: inline-block;
      align-self: center;
      color: $dark-font-color;
      font-size: 0.9rem;
      width: 170px;
      padding: 4px 6px;
      margin-right: 8px;
      border: none;
      border-radius: 2px;

      &::placeholder {
        font-family: $placeholder-font;
      }
    }
    button > i {
      font-size: 1.5rem;
    }
  }
}