#searchbar {
  display: flex;

  input {
    // font-size: 1rem;
    align-self: center;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;

    i {
      color: #fff;
      font-size: 1.5rem;
      padding: 0.4rem;
    }
  }
}