@import '../helpers/sizes', '../helpers/colors', '../helpers/fonts';

$font-size-breakpoints: (
  401px: 2.5rem,
  501px: 3rem,
  769px: 3.5rem,
  1025px: 4rem,
);

.header {
  height: $header-height;
  width: 100%;
  background: $background-color;
  color: $dark-font-color;
  border-bottom: 3px $primary-color solid;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  & > h1 {
    font-family: $header-font;
    font-size: 2rem;
  }
}

@each $width, $font-size in $font-size-breakpoints {
  @media screen and (min-width: $width) {
    .header > h1 {
      font-size: $font-size;
    }
  }
}

@each $width, $height in $header-height-breakpoints {
  @media screen and (min-width: $width) {
    .header {
      height: $height;
    }
  }
}