@import '../helpers/layout', '../helpers/colors', '../helpers/fonts';

.header {
  width: 100%;
  background: $background-color;
  color: $dark-font-color;
  border-bottom: 3px $primary-color solid;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  & > h1 {
    font-family: $header-font;
    font-size: 4rem;
  }
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  $size: 3rem;
  .header {
    height: 100px;
  }
  .header > h1 {
    font-size: $size;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  $size: 3.5rem;
  .header {
    height: 125px;
  }
  .header > h1 {
    font-size: $size;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  $size: 4rem;
  .header {
    height: 150px;
  }
  .header > h1 {
    font-size: $size;
  }
}

@media screen and (min-width: 1441px) {
  $size: 4rem;
  .header {
    height: 150px;
  }
  .header > h1 {
    font-size: $size;
  }
}