@import '../helpers/layout', '../helpers/header', '../helpers/fonts';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  
  & > h1 {
    font-family: $header-font;
    font-size: 4rem;
  }
}

$breakpoints: (
  1440px: 4rem,
  1024px: 3.5rem,
  768px: 3rem
);

@each $width, $size in $breakpoints {
  @media screen and (max-width: $width) {
    .header > h1 {
      font-size: $size;
    }
  }
}

@media screen and (min-width: 1441px) {
  .header > h1 {
    font-size: 4rem;
  }
}