@import '../helpers/fonts', '../helpers/colors';

.footer {
  width: 100%;
  justify-self: center;
  align-self: center;

  & > button {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
    & > i {
      color: $dark-font-color;
    }
    
    &:hover,
    &:focus {
      & > i {
        animation: bounce 1s infinite;
      }
    }
  }

  & > p {
    font-family: $nav-font;
    color: $dark-font-color;
    margin: 10px 0;
    text-align: center;

    & > a {
      color: $dark-font-color;
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    & > button > i {
      font-size: 1.2rem;
    }
    & > p {
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 1025px) {
  .footer {
    & > button > i {
      font-size: 1.5rem;
    }
    & > p {
      font-size: 1rem;
    }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}