@import '../helpers/sizes', '../helpers/colors', '../helpers/fonts';

$font-size: 3rem;
$font-size-breakpoints: (
  769px: 3.5em,
  1025px: 4rem,
);

.header {
  height: $header-height;
  width: 100%;
  background: $background-color;
  color: $dark-font-color;
  border-bottom: 3px $primary-color solid;
  padding-bottom: 5px;
}

.title,
.date {
  display: flex;
  justify-content: center;
}

.title {
  align-items: center;
  height: 75%;
  font-family: $header-font;
  font-size: $font-size;
}

.date {
  align-items: flex-start;
  height: 25%;
  font-size: $font-size * 0.4;
  font-family: $date-font;
}

@each $width, $height in $header-height-breakpoints {
  @media screen and (min-width: $width) {
    .header {
      height: $height;
    }
  }
}

@each $width, $size in $font-size-breakpoints {
  @media screen and (min-width: $width) {
    .title {
      font-size: $size;
    }
    .date {
      font-size: $size * 0.4;
    }
  }
}