@import '../helpers/layout', '../helpers/header', '../helpers/fonts';

.title,
.date {
  display: flex;
  justify-content: center;
}

.title {
  align-items: center;
  height: 75%;
  font-size: 4rem;
}

.date {
  align-items: flex-start;
  height: 25%;
  font-size: 1.5rem;
  font-family: $date-font;
}
