@import '../helpers/sizes', '../helpers/colors', '../helpers/fonts';

.container {
  position: relative;
  top: $nav-height + 100px;
  width: 100vw;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}

.login {
  width: 90%;
  height: 300px;
  background: lighten($dark-font-color, 75%);
  padding: 10px 0;
  margin: 0 auto 10px;
  border-radius: 5px;

  & > p {
    height: 20%;
    color: $dark-font-color;
    font-family: $nav-font;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  & > i {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 50px;
    color: $action-color;
    background: #fff;
    border-radius: 50%;
    padding: 16px 19px;
  }
}

.redirect {
  width: 90%;
  padding: 5px 0;
  margin: 5px auto;
  border-top: 2px solid $primary-color;
  color: $dark-font-color;
  font-family: $nav-font;

  & > a {
    color: darken($action-color, 10%);
    text-decoration: none;
  }
}

@media screen and (min-width: 769px) {
  .container {
    top: $nav-height + 150px;
  }
}