.login {
  border: 1px solid black;
  position: relative;
  display: block;
  top: 15vh;
  // left: 50%;
  // transform: translate(-50%, -30%);
  width: 300px;
  // height: 500px;
  margin: 0 auto;
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  // align-items: center;
}

.loginForm {
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;

  & input {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  & button {
    font-size: 1rem;
    // width: 80%;
    // align-self: center;
    margin: 5px 0;
  }
}