@import '../helpers/layout', '../helpers/header';

.searchBar,
.options,
.sort {
  display: flex;
  align-items: center;
}

.searchBar,
.options {
  height: 40%;
}

.searchBar {
  justify-content: center;
  
  input,
  button {
    height: 75%;
  }

  input {
    width: 60%;
    font-size: 1.5rem;
    padding-left: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }

  button {
    width: 40px;
    margin: 0 10px;
    cursor: pointer;

    i {
      font-size: 1.5rem;
    }
  }
}

.sort {
  height: 20%;
  justify-content: space-between;
}