@import '../helpers/layout', '../helpers/header', '../helpers/sizes';

.options_container,
.options,
.sort {
  display: flex;
}

.options_container {
  height: $options-height;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.options {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.optionsBtn {
  font-size: 0.8rem;
  font-style: italic;
  background: transparent;
  border: none;
  cursor: pointer;
}

.sort {
  height: $sort-height;
  justify-content: space-between;
  align-items: center;
}

.options p,
.sort p {
  display: inline-block;
  margin-right: 0.2rem;
}