@import '../helpers/sizing';

.scrollpage {
  // width: $container-width;
  max-width: $container-width;
  margin: 0 auto;
  margin-top: $nav-height+$header-height;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 25px;
  grid-template-areas: 
    "articles"
    "footer";
}

.container {
  grid-area: articles;
  justify-self: center;
  align-self: start;
  padding: 0.3em 1em;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.3rem 0.5rem;
}

.container > * {
  justify-self: center;
}

.footer {
  grid-area: footer;
  justify-self: center;
  align-self: center;
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: 100%;
  }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
  .scrollpage {
    width: $container-width + 4 * $side-margin;
    margin-right: $side-margin;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}