@import '../helpers/colors', '../helpers/fonts';

$font-size: 1rem;

.article {
  transition: transform 150ms ease-out,
              opacity 300ms ease-in;

  &[state=entering] {
    opacity: 0;
    transform: translateY(-100%);
  }
  &[state=entered] {
    opacity: 1;
    transform: translateY(0);
  }

  & > button {
    font-size: $font-size;
    justify-self: end;
    align-self: flex-start;
    background: transparent;
    border: none;
    cursor: pointer;
    
    & > i {
      color: $bookmark-color;
    }
  }
}

.title {
  font-family: $article-title-font;
  font-size: $font-size;
  color: $dark-font-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.source,
.date {
  display: inline;
  color: $dark-font-color;
  font-family: $article-source-font;
  font-size: $font-size * 0.75;
}

.source {
  font-weight: 400;
  font-style: italic;
}

.date {
  font-weight: 300;
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .source,
  .date {
    font-size: $font-size * 0.5;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  $font-size: 1.2rem;
  .article > button {
    font-size: $font-size;
  }
  .title {
    font-size: $font-size;
  }
  .source,
  .date {
    font-size: $font-size * 0.75;
  }
}

@media screen and (min-width: 1025px) {
  $font-size: 1.4rem;
  .article > button {
    font-size: $font-size;
  }
  .title {
    font-size: $font-size;
  }
  .source,
  .date {
    font-size: $font-size * 0.75;
  }
}

// @each $width, $size in $font-size-breakpoints {
//   @media screen and (min-width: $width) {
//     .article > button {
//       font-size: $size;
//     }
//     .title {
//       font-size: $size;
//     }
//     .source,
//     .date {
//       font-size: $size * 0.75;
//     }
//   }
// }