@import '../helpers/article', '../helpers/colors', '../helpers/fonts';

.article {
  transition: transform 150ms ease-out,
              opacity 300ms ease-in;

  &[state=entering] {
    opacity: 0;
    transform: translateY(-100%);
  }
  &[state=entered] {
    opacity: 1;
    transform: translateY(0);
  }

  & > button {
    justify-self: end;
    align-self: flex-start;
    background: transparent;
    border: none;
    cursor: pointer;
    
    & > i {
      color: $bookmark-color;
    }
  }
}

.title {
  font-family: $article-title-font;
  color: $dark-font-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.source,
.date {
  color: $dark-font-color;
  font-family: $article-source-font;
}

.source {
  font-weight: 400;
  font-style: italic;
}

.date {
  font-weight: 300;
}

@media screen and (min-width: 1025px) {
  .article > button {
    font-size: 1.5rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .source,
  .date {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .article > button {
    font-size: 1.2rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .source,
  .date {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .article > button {
    font-size: 1rem;
  }
  .title {
    font-size: 1rem;
  }
  .source,
  .date {
    font-size: 0.6rem;
  }
}