@import './helpers/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  background: $background-color;
}

@media screen and (max-width: 768px) {
  * {
    outline: none;
  }
}