@import './helpers/sizing';

* {
  margin: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  background: #333;
}

.app {
  font-size: 12px;
}

@media screen and (min-width: 501px) and (max-width: 700px) {
  .app {
    font-size: 8px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
  .app {
    font-size: 10px;
  }
}

@media screen and (min-width: 1250px) {
  .app {
    font-size: 14px;
  }
}

@media screen and (min-width: 2000px) {
  .app {
    font-size: 18px;
  }
}